# Informe de aportes hidrologicos para el año 2004

In [10]:

%%writefile comandos_vistos_en_clase.txt
comando para lista lo que hay en carpeta %ls 2
comando para escribir un archivo %%writefile nombrearchivo.txt 3

Writing comandos_vistos_en_clase.txt

In [8]:
%ls

 El volumen de la unidad C es OS
 El n£mero de serie del volumen es: D098-F348

 Directorio de C:\Users\hpalacios\Desktop\Diplomado en Analitica de Mercados Energeticos\Dia 2\Datos Energ¡a Colombia\Aportes Diarios

10/02/2017  08:00 a.m.    <DIR>          .
10/02/2017  08:00 a.m.    <DIR>          ..
10/02/2017  07:54 a.m.    <DIR>          .ipynb_checkpoints
08/02/2017  08:50 a.m.           359,670 AportesDiario_2000.xlsx
08/02/2017  08:50 a.m.           437,178 AportesDiario_2001.txt
08/02/2017  08:50 a.m.           453,303 AportesDiario_2002.xlsx
08/02/2017  08:50 a.m.           497,369 AportesDiario_2003.txt
08/02/2017  08:50 a.m.           499,945 AportesDiario_2004.csv
08/02/2017  08:50 a.m.           483,838 AportesDiario_2005.xlsx
08/02/2017  08:50 a.m.           477,656 AportesDiario_2006.csv
08/02/2017  08:51 a.m.           500,920 AportesDiario_2007.txt
08/02/2017  08:50 a.m.           486,575 AportesDiario_2008.xlsx
08/02/2017  08:51 a.m.           499,026 AportesDiario_2009.csv
08/02/2017  08:51 a.m.           499,866 AportesDiario_2010.txt
08/02/2017  08:51 a.m.           508,300 AportesDiario_2011.xlsx
08/02/2017  08:51 a.m.           887,330 AportesDiario_2012.prn
08/02/2017  08:52 a.m.           543,729 AportesDiario_2013.csv
08/02/2017  08:52 a.m.           545,807 AportesDiario_2014.xlsx
08/02/2017  08:52 a.m.           576,089 AportesDiario_2015.csv
08/02/2017  08:52 a.m.         1,431,552 AportesDiario_2016.xls
10/02/2017  08:01 a.m.               112 demo2.txt
10/02/2017  08:00 a.m.             3,339 Untitled.ipynb
              19 archivos      9,691,604 bytes
               3 dirs  293,067,137,024 bytes libres

In [18]:
# importa pandas, Se hace una sola vez
import pandas as pd

In [25]:
x= pd.read_csv('AportesDiario_2004.csv',sep=';',decimal=',',thousands='.',skiprows=3)

In [26]:
x['Fecha']

0       2004-01-01
1       2004-01-01
2       2004-01-01
3       2004-01-01
4       2004-01-01
5       2004-01-01
6       2004-01-01
7       2004-01-01
8       2004-01-01
9       2004-01-01
10      2004-01-01
11      2004-01-01
12      2004-01-01
13      2004-01-01
14      2004-01-01
15      2004-01-01
16      2004-01-01
17      2004-01-01
18      2004-01-01
19      2004-01-01
20      2004-01-01
21      2004-01-01
22      2004-01-01
23      2004-01-01
24      2004-01-02
25      2004-01-02
26      2004-01-02
27      2004-01-02
28      2004-01-02
29      2004-01-02
           ...
8756    2004-12-30
8757    2004-12-30
8758    2004-12-30
8759    2004-12-30
8760    2004-12-31
8761    2004-12-31
8762    2004-12-31
8763    2004-12-31
8764    2004-12-31
8765    2004-12-31
8766    2004-12-31
8767    2004-12-31
8768    2004-12-31
8769    2004-12-31
8770    2004-12-31
8771    2004-12-31
8772    2004-12-31
8773    2004-12-31
8774    2004-12-31
8775    2004-12-31
8776    2004-12-31
8777    2004-12-31
8778    2004-12-31
8779    2004-12-31
8780    2004-12-31
8781    2004-12-31
8782    2004-12-31
8783    2004-12-31
8784           NaN
8785           NaN
Name: Fecha, dtype: object

In [34]:
seleccion= x[x['Nombre Rio']=='GRANDE']

In [35]:
len (seleccion)

366

In [37]:
x.groupby('Nombre Rio').mean()

                           Aportes Caudal m3/s  Aportes Energia kWh
Nombre Rio
A. SAN LORENZO                       36.466612         8.105400e+06
ALTOANCHICAYA                        43.468716         4.620596e+06
BATA                                 95.478989         1.571243e+07
BOGOTA N.R.                          28.051803         1.277674e+07
CALIMA                               11.922077         5.560117e+05
CAUCA SALVAJINA                     113.523306         2.519614e+06
CHUZA                                 9.742486         4.337967e+06
CONCEPCION                            6.606667         1.488170e+06
DESV. EEPPM (NEC,PAJ,DOL)             8.312240         2.291866e+06
DIGUA                                27.529536         4.299954e+05
FLORIDA II                           10.712486         2.148367e+05
GRANDE                               27.511967         6.729973e+06
GUADALUPE                            20.167978         4.542911e+06
GUATAPE                              34.103033         5.624479e+06
GUAVIO                               85.884563         2.062469e+07
MAGDALENA BETANIA                   374.490765         5.580630e+06
MIEL I                               78.433251         3.430428e+06
NARE                                 49.711612         1.738808e+07
OTROS RIOS (ESTIMADOS)                     NaN         3.700457e+06
PORCE II                             99.292650         4.976887e+06
PRADO                                45.597268         4.984191e+05
SAN CARLOS                           24.910492         3.084509e+06
SINU URRA                           284.444208         3.165074e+06
TENCHE                                3.900874         8.786683e+05

In [42]:
import statistics
n = set (x['Nombre Rio'])

for y in n: 
    z = x[x['Nombre Rio'] == y ]['Aportes Energia kWh']
    if len(z) > 0:
        print(y,statistics.mean(x[x['Nombre Rio']== y]['Aportes Energia kWh'].values[:]))

GRANDE 6729973.22404
GUATAPE 5624479.23497
MIEL I 3430428.4153
CALIMA 556011.748634
DESV. EEPPM (NEC,PAJ,DOL) nan
SAN CARLOS 3084508.74317
CAUCA SALVAJINA 2519614.48087
BOGOTA N.R. nan
ALTOANCHICAYA 4620595.90164
OTROS RIOS (ESTIMADOS) 3700456.8306
DIGUA 429995.355191
BATA 15712428.4153
CONCEPCION 1488170.4918
A. SAN LORENZO 8105399.72678
TENCHE 878668.306011
GUADALUPE 4542910.92896
NARE 17388083.6066
PRADO 498419.125683
GUAVIO 20624689.3443
CHUZA nan
SINU URRA 3165074.04372
PORCE II 4976887.15847
FLORIDA II nan
MAGDALENA BETANIA 5580630.32787

In [43]:
set (x['Nombre Rio'])

{nan,
 'GRANDE',
 'GUATAPE',
 'MIEL I',
 'CALIMA',
 'DESV. EEPPM (NEC,PAJ,DOL)',
 'SAN CARLOS',
 'CAUCA SALVAJINA',
 'BOGOTA N.R.',
 'ALTOANCHICAYA',
 'OTROS RIOS (ESTIMADOS)',
 'DIGUA',
 'BATA',
 'CONCEPCION',
 'A. SAN LORENZO',
 'TENCHE',
 'GUADALUPE',
 'NARE',
 'PRADO',
 'GUAVIO',
 'CHUZA',
 'SINU URRA',
 'PORCE II',
 'FLORIDA II',
 'MAGDALENA BETANIA'}

In [46]:
aportese = x[x['Nombre Rio'] == y ]['Aportes Energia kWh']

In [45]:
 print(aportese)

13      2906000.0
37      2832200.0
61      2296900.0
85      2264300.0
109     2538000.0
133     3198500.0
157     5319300.0
181     4100200.0
205     5163000.0
229     4982200.0
253     8507800.0
277     5993700.0
301     3995800.0
325     3279400.0
349     3344400.0
373     4155500.0
397     9423200.0
421     4890300.0
445     3545200.0
469     3147000.0
493     2781200.0
517     4637200.0
541     4490700.0
565     3581700.0
589     2553300.0
613     2472700.0
637     2183300.0
661     2289600.0
685     2236000.0
709     1978200.0
          ...
8077    6087200.0
8101    5386800.0
8125    5245900.0
8149    6696600.0
8173    5845000.0
8197    4918100.0
8221    4221000.0
8245    4844000.0
8269    6816100.0
8293    4805400.0
8317    4586800.0
8341    5826900.0
8365    5340800.0
8389    7012100.0
8413    6623200.0
8437    6315800.0
8461    6757700.0
8485    5979700.0
8509    5381800.0
8533    4617400.0
8557    3999000.0
8581    3822300.0
8605    6091100.0
8629    3208500.0
8653    3110300.0
8677    3670900.0
8701    4357200.0
8725    4192300.0
8749    3935900.0
8773    3760000.0
Name: Aportes Energia kWh, dtype: float64